.fastfundraiser {
  width: 100%;
  color: #fff;
  padding-top: calc(30px + (50 - 20) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: calc(100px + (52 - 20) * ((100vw - 375px) / (1920 - 320)));

  &__container {
    max-width: 1596px;
    margin: 0 auto;
    padding: 0 40px;

    @media (width >= 1024px) {
      padding: 0 80px;
    }

    @media (width >= 1920px) {
      padding: 0;
    }
  }

  &__body {
    gap: 80px;
    align-items:self-start;
    display: flex;

    @media (width <= 1300px) {
      flex-direction: column;
    }
  }

  &__img {
    position: relative;
    
    @media (width >= 1300px) {
      margin-top:-8%;
    }

    img {
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;

      @media (width >= 1300px) {
        max-width: 130%;
      }
    }

    @keyframes pulse-animation {
      0% {
        transform: scale(1);
        opacity: 1;
      }

      50% {
        transform: scale(1.1);
        opacity: 0.7;
      }

      100% {
        transform: scale(1);
        opacity: 1;
      }
    }

    
    span {
      position: absolute;
      width: 70%;
      height: 90%;
      left: 18%;
      top: 30%;
      border: 2px solid #ffc000;
      border-radius: 50%;
      box-shadow: inset 0 0 40px #ffc000;
      animation: pulse-animation 2s infinite;
      
      @media (width >= 1300px) {
        width: 80%;
      }

      &:nth-child(1) {
        width: 51%;
        height: 67%;
        top: 42%;
        left: 27%;
        
        @media (width >= 1300px) {
          width: 61%;
        }
      }

      &:nth-child(2) {
        width: 25%;
        height: 31%;
        top: 59%;
        left: 40%;

        @media (width >= 1300px) {
          width: 34%;
          height: 36%;
        }
      }
    }
  }

  &__content {
    @media (width >= 1100px) {
      max-width: 788px;
    }
  }

  &__heading {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: calc(64px + (108 - 20) * ((100vw - 320px) / (1920 - 320)));
    text-transform: uppercase;
    color: #ececec;
    font-stretch: condensed;
    line-height: 107.9%;
    margin-bottom: 32px;
  }

  &__text {
    font-size: calc(16px + (25 - 20) * ((100vw - 320px) / (1920 - 1024)));
    margin-bottom: calc(40px + (92 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: 140.9%;
    font-weight: 400;
  }
}
