:root {
  --font-family: 'Open Sans Condensed', sans-serif;
  --second-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(
    126.44deg,
    rgb(30 30 33) 2.368%,
    rgb(39 39 45) 84.379%
  );
}
