@import '../../styles/common';

.SupportShare {
  font-family: var(--font-family);
  color: rgb(244 244 244);
  padding: 75px 40px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;

  @media screen and (width >= 1024px) {
    padding: 150px 80px 120px;
    width: 1024px;
    align-items: flex-end;
  }

  @media screen and (width >= 1920px) {
    padding: 244px 162px 120px;
    position: relative;
    width: 1920px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    width: 350px;
    position: relative;
    margin: 0 auto 45px;

    &::after {
      content: '';
      background-image: url('../../assets/share/Vector.svg');
      position: absolute;
      width: 109px;
      height: 141px;
      top: 30%;
      right: 1%;
      background-repeat: no-repeat;
    }

    span {
      display: inline-block;
      color: #fc0;
      width: 350px;
      letter-spacing: -1px;
    }

    @media screen and (width >= 1024px) {
      font-size: 64px;
      line-height: 68px;
      margin-left: 0;
      margin-bottom: 105px;
      width: 532px;
      letter-spacing: -2px;

      span {
        width: 622px;
      }

      &::after {
        content: '';
        background-image: url('../../assets/share/Vectortab.svg');
        width: 346px;
        height: 161px;
        left: 11%;
        transform: translateY(77%);
      }
    }

    @media screen and (width >= 1920px) {
      font-size: 96px;
      line-height: 100px;
      width: 796px;
      letter-spacing: -7px;
      margin-bottom: 0;

      span {
        width: 840px;
        letter-spacing: -7px;
        font-size: 96px;
      }

      &::after {
        content: '';
        background-image: url('../../assets/share/Vectordesk.svg');
        width: 380px;
        height: 163px;
        left: 97%;
        transform: scaleX(0.9);
      }
    }
  }

  @media screen and (width >= 1920px) {
    .share_btn {
      position: absolute;
      right: 8%;
      bottom: 20%;
    }
  }
}
