
.ScrollBtn {
    position: fixed;
    bottom: 60px;
    right: 60px;
    width: 26px;
    z-index: 99;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition:
        transform 0.3s ease-in-out,
        opacity 0.3s ease-in-out;

    &.animate {
        animation: bounce 0.5s;
    }

    img{
        width: calc(30px + (75 - 20) * ((100vw - 320px) / (1920 - 350)));
    }
}
